{% extends 'base.html' %}
{% load static %}

{% block page_title %}ビデオラボ{% endblock  %}

{% block content %}
<div class="ui four doubling stackable cards">
{% for object in object_list %}
        <a class="link card" href="{% url 'course_detail' object.id %}">
            <div class="image">
                {% if object.thumbnail %}
                    <img src="{{object.thumbnail.url}}">
                {% else %}
                    <img src="default.jpg">
                {% endif %}
            </div>
            <div class="content">
                <div class="header">{{object.title|truncatechars:32}}</div>
                <div class="description">
                    {{object.description|truncatechars:32}}
                </div>
            </div>
        </a>
{% endfor %}
</div>
{% endblock content %} 
