{% extends 'base.html' %}
{% load static %}

{% block title %}{{object.course.title}}{% endblock title %}

{% block content %}
    <div class="ui text container">
        <form class="ui form" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="ui field">
                    {{ field.label }}
                <div class="ui input">
                    {{ field }}
                </div>
                {% if field.errors %}
                    <div class="ui pointing red basic label">{{ field.errors.0 }}</div>.
                {% endif %}
            </div>
            {% endfor %}
            <button class="ui button" type="submit">投稿</button>
        </form>
    </div>
{% endblock content %}
