{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{object.title}}{% endblock  %}

{% block content %}
<div class="ui stackable grid">
  <div class="eleven wide computer sixteen wide tablet column">
    <div class="ui container">
    <div class="ui embed" data-source="youtube" data-id="{{object.video_id}}" data-placeholder=""></div>
    <div class="ui header">{{object.title}}</div>
      <div class="ui dividing header">概要</div>
      <div class="ui">{{object.description|linebreaksbr |urlize}}</div>
      <div class="ui hidden divider"></div>
      <div class="ui comments">
        <div class="ui dividing header">コメント</div>
        {% for comment in video.comments.all %}
          <div class="comment">
            <div class="content">
              <p class="author" style="display:inline;">{{ comment.author }}</p>
              <div class="metadata"><span class="date">{{ comment.created_at }}</span></div>
              <div class="text">{{ comment.text|linebreaks }}</div>
            </div>
          </div>
        {% empty %}
        <p>コメントはありません</p>
        {% endfor %}
      </div>
      {% if user.is_authenticated %}
      <form class="ui form" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
          {{ field }}
        </div>
        {% endfor %}
        <div class="ui hidden divider"></div>
        <button class="ui button" type="submit">投稿</button>
      </form>
      {% endif %}
    </div>
  </div>
  <div class="five wide computer sixteen wide tablet column">
    <h2 class="header">{{object.course.title}}</h2>
    <div class="ui devided items">
    {% for course_video in object.course.videos.all %}
      {% if course_video.id == object.id %}
        <a class="ui inverted grey segment item row">
      {% else %}
        <a class="ui item row" href="{% url 'detail' course_video.id %}">
      {% endif %}
            <div class="ui small image column">
              <img src="{{course_video.thumbnail_url}}">
            </div>
            <div class="ui content column">
            {{course_video.title}}
            </div>
        </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $('.ui .embed').embed();
</script>
{% endblock extra_js %}