{% extends 'base.html' %}
{% load static %}

{% block page_title %}ビデオラボ{% endblock  %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}

<div class="ui four doubling stackable cards">
    {% for object in object_list %}
        <a class="link card" href="{% url 'detail' object.id %}">
            <div class="image">
                <img src="{{object.thumbnail_url}}">
            </div>
            <div class="content">
                <div class="header">{{object.title|truncatechars:32}}</div>
                <div class="description">
                    {{object.description|truncatechars:32}}
                </div>
            </div>
        </a>
    {% endfor %}
</div>


{% endblock content %} 
