<!doctype html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}</title>

    {# --- css --- #}
    <link rel="stylesheet" href="{% static 'vendor/semantic/semantic.min.css' %}">
    <style type="text/css">
        body {
            background-color : #FFFFFF;
        }
        body > .container {
            height: 100%;
        }
        .main.container{
            margin-top: 7em; 
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>

<body>
    {% include "header_menu.html" %}

    <div class="ui main container">
        {% block content %}{% endblock %}
    </div>

    {# --- js --- #}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendor/semantic/semantic.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html> 
