<div class="ui inverted fixed menu">
        <a href="{% url 'course_list' %}" class="header item">
            <i class="play large green icon"></i>
            ビデオラボ
        </a>
        <div class="right menu">
        {% if course.id %}
            {% if user in course.reviewer_list %}
            {% else %}
            <a href="{% url 'review_create' pk=course.id %}" class="item">レビュー</a>
            {% endif %}
        {% elif video.id %}
            {% if user in object.course.reviewer_list %}
            {% else %}
            <a href="{% url 'review_create' video.course.id %}" class="item">レビュー</a>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
             <a href="{% url 'logout' %}" class="item">ログアウト</a>
        {% else %}
             <a href="{% url 'login' %}" class="item">ログイン</a>
        {% endif %}
        </div>
</div>
